html {
  scroll-padding: 5vw;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: auto;
  font-size: 3vw;
  background-color: rgb(160, 60, 60);
}

#header-name {
  margin: 10px 25px;
  font-weight: bold;
  color: black;
}

.nav-link {
  margin: 10px 25px;
  text-decoration: none;
  color: blanchedalmond;
}

.nav-link:hover {
  animation-name: hover;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes hover {
  0% {text-decoration: underline;}
  100% {text-decoration: underline;}
}

#welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: 'Homemade Apple', cursive;
  background-color: rgb(160, 60, 60);
}

h1 {
  display: block;
  text-align: center;
  font-size: 60px;
}

#main-name {
  font-size: 15vw;
}

#projects {
  padding-top: 25px;
  padding-bottom: 30px;
  background-color: rgb(108, 110, 245);
}

#project-tiles {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 35vw);
  grid-template-rows: repeat(3, 22vw);
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 15px;
}

.project-tile {
  display: block;
  text-align: center;
  padding-top: 0.25em;
  background-color: rgb(235, 176, 121);
  font-size: 2.5vw;
}

.project-image {
  width: 95%;
  height: 85%;
}

#contact-section {
  height: 50vh;
  padding-top: 100px;
  background-color: rgb(221, 214, 112);
}

#contact-title {
  padding: 25px;
}

#profile-link {
  display: block;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: black;
  margin: 25px;
  text-decoration: none;
}

#github-logo {
  height: 30px;
  width: auto;
}


@media (max-width: 740px) {
  header {
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 4.25vw;
    padding-bottom: 10px;
  }
  html {scroll-padding: 10vw;}
  #main-name {font-size: 20vw;}
  #project-tiles {
    grid-template-columns: 80vw;
    grid-template-rows: repeat(6, 55vw);
  }
  .project-tile {
    padding-top: 0.5em;
    font-size: 3vw;
  }
  .project-image {
    width: 95%;
    height: 90%;
  }
  #contact-section {height: 30vh;}
}
